.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;

  position: fixed;
  top: 0;
  width: 95%;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.logo {
  color: #00ff00;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}